<h1>
My name is <%= @names %>
</h1>

<div style='border: 3px dashed red'>
<img src='https://i.imgur.com/74HtSJK.jpeg'>
</div>

<form action =" /named-dog" >
  <input type ="text" name ="name" >
  <input type ="submit" value="Submit">

</form>